<div class="row">
  <div class="col-md-2">
    <h3>Album Detail</h3>
  </div>
  <div class="col-md-10">
    <div class="photo-list row">
      <div class="col-md-3">
        <div class="photo-image">
            <div class="form-group">
              <input #imageInput type="file" class="form-control-file" accept="image/*" id="imagePhoto" (change)="addPhoto(imageInput)">
            </div>
            <i class="fas fa-plus"></i>
        </div>
      </div>
      <div class="col-md-3" *ngFor="let photo of album.photos; let i = index">
        <div class="photo-image">
            <img [src]="photo.thumb" class="img-fluid" (click)="open(i)">
        </div>
      </div>
    </div>
  </div>
</div>
